@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Montserrat');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

header {
    background-image: url(../img/Prostok%C4%85t_1_kopia_3.png);
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    margin-bottom: auto;
}

header::after {
    content:"";
    position: absolute;
    width: 1105px;
    top: 555px;
    left: -10px;
    border: 78px solid #ed145b;
    display: block;
    z-index: -1;
    transform: rotate(-1deg);
}
/* nav */

.logo {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

/* ///Mache*/
header h3 {
    margin-top: 44px;
    padding-top: 0;
    color: #ffffff;
    text-align: left;
    padding-left: 70px;
    letter-spacing: 1.15px;
    font-size: 25px;
    height: 19px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 13.28px;
}

.dots {
    color: #ed145b;
    letter-spacing: 1.15px;
}

/* menu*/
nav {
    height: 13px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.4px;
}

.active {
    color: #ed145b;
    letter-spacing: 0.4px;
}

ul {
    padding-top: 0;
    margin-top: 0;
    padding-right: 70px;
    margin-left: 5px;
    margin-right: 5px;
    list-style-type: none;
    float: right;
}

li {
    line-height: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    list-style: none;
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    transition: all 0.7s ease-in-out 0.7s;
}

 li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
}

/* section main*/

#main {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 200px;
}

.mache {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
}

h1 {
    margin-top: 80px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1.15px;
    text-transform: uppercase;
    line-height: 24px;
    padding-bottom: 30px;
}

h1::after {
    content:"";
    position: absolute;
    width: 200px;
    top: 300px;
    left: 0;
    right:0;
    margin:auto;
    border: 1px solid #ed145b;
    display: block;
}

#main p {
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    height: 59px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.55px;
    padding-bottom: 100px;
}

button span {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    width: 97px;
    height: 12px;
}

#main button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border-color:#ed145b;
    background-color: #ed145b;
}

font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
/* section about*/

#about{
    background-image: url(../img/Prostok%C4%85t_1_kopia.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
}

#about{
    background-image: url(../img/Prostok%C4%85t_1_kopia.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.text {
    position: relative;
}
.text h3 {
    width: 400px;
    height: 85px;
    color: #5a5a5a;
    font-family: 'Lato';
    font-style: italic;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.95px;
    left:0;
    right:0;
    margin: auto;
    padding-top: 100px;
}

.text h3::after {
    content:"";
    position: absolute;
    width: 200px;
    top: 230px;
    left: -200px;
    right: 0;
    margin: 0 auto;
    border: 1px solid #ed145b;
    display: block;
}

.text p {
    position: absolute;
    top: 250px;
    width: 475px;
    height: 165px;
    right: 0;
    left: 60px;
    margin: auto;
    color: #5a5a5a;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.38px;
}

.text a {
   position: absolute;
    text-decoration: none;
    color: #000000;
    right: 0;
    left: 55px;
    top: 450px;
    width: 200px;
    height: 12px;
    color: #ed145b;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
}

.arrow {
    margin: 21px;
}

.arrow::after {
    content:"";
    position: absolute;
    height: 22px;
    width: 22px;
    top: -1px;
    left: 70px;
    right:0;
    margin: auto;
    border: 1px solid #ed145b;
    border-radius: 50%;
    display: block;
}

.images {
    position: relative;

}
.mac {
    width: 710px;
    height: 570px;
    top: 20px;
    left: 50px;
    right: 0;
    margin: 0;
    z-index: 3;
    padding-bottom: 0;
    padding-top: 60px;
}

.shadow {
    position: absolute;
    top: 548px;
    width: 725px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.image {
    width: 560px;
    height: 430px;
    top: 110px;
    left: 85px;
    right: 0;
    margin: 0;
    z-index: 4;
    position: absolute;
}

/* section our services */
.head {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
    position: relative;
}

.head h3 {
    left: 0;
    right: 0;
    margin: auto;
    width: 397px;
    height: 29px;
    color: #5a5a5a;
    font-family: "Lato - Light Italic";
    font-size: 38px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.95px;
}

.head h3::after {
    content:"";
    position: absolute;
    width: 22px;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 200px;
    height: 2px;
    background-color: #ed145b;
}

.head p {
    width: 690px;
    height: 44px;
    color: #5a5a5a;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.38px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.part {
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}
.part h4 {
    position: absolute;
    top: 90px;
    left:0;
    right: 0;
    margin: auto;
    width: 145px;
    height: 12px;
    color: #ed145b;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
}

.icon {
    position: absolute;
    top: 0;
    left: 5px;
    right: 10px;
    margin: auto;

}

.icon::after {
    content:"";
    position: absolute;
    height: 100px;
    width: 100px;
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: block;
}

/* section quotes */

#quotes{
    background-image: url(../img/Prostok%C4%85t_1_kopia_3.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-top: 60px;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}

#quotes h3 {
    left: 0;
    right: 0;
    margin: auto;
    width: 52px;
    height: 200px;
    color: #ed145b;
    font-family: "lato";
    font-size: 158px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 3.95px;
    text-align: center;
    padding: 10px;
}

#quotes p {
    text-align: center;
    padding: 20px;
    right: 0;
    margin: auto;
    position: absolute;
    top: 150px;
    left: 0;
    width: 945px;
    height: 100px;
    color: #ffffff;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.53px;
    font-style: italic;
}

#quotes img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*pojawiający się i znikający tekst po najechaniu hover
Domyśnie ukryte są:.hidden oraz .visibility przy hover. - display:none;
Aby wyświetlić .hidden i ukryć .visibility dajemy display:block;
Wszystko przy pomocy RODZICA .double - wskazujemy na daną klasę za pomocą ">"
*/

.hidden, .double:hover > .visibility {
    display: none;
}

.double:hover > .hidden {
    display: block;
    left: 629px;
    width: 741px;
    height: 134px;
    color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato';
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    color: #ffffff;
    letter-spacing: 0.9px;
    font-style: italic;
}

/*section prizes */

#prizes {
    background-image: url(../img/Prostok%C4%85t_9.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    position: relative;
    top:-20px;
}
#prizes h3 {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 700px;
    height: 230px;
    color: #5a5a5a;
    font-family: 'Lato';
    font-style: italic;
    font-size: 28px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.95px;
    padding-top: 50px;
    text-align: center;
}
#prizes h3::after {
    content:"";
    position: absolute;
    width: 22px;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 200px;
    height: 2px;
    background-color: #ed145b;
}
#prizes p {
    position: absolute;
    top: 250px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 44px;
    color: #5a5a5a;
    font-family: Lato;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.38px;
}
