@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Montserrat');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

header {
    background-image: url(../img/Prostok%C4%85t_1_kopia_3.png);
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    margin-bottom: auto;
}

header::after {
    content:"";
    position: absolute;
    width: 1116px;
    top: 555px;
    left: -10px;
    border: 78px solid #ed145b;
    display: block;
    z-index: -1;
    transform: rotate(-1deg);
}
/* nav */

.logo {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

/* ///Mache*/
header h3 {
    margin-top: 44px;
    padding-top: 0;
    color: #ffffff;
    text-align: left;
    padding-left: 70px;
    letter-spacing: 1.15px;
    font-size: 25px;
    height: 19px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 13.28px;
}

.dots {
    color: #ed145b;
    letter-spacing: 1.15px;
}

/* menu*/
nav {
    height: 13px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.4px;
}

.active {
    color: #ed145b;
    letter-spacing: 0.4px;
}

ul {
    padding-top: 0;
    margin-top: 0;
    padding-right: 70px;
    margin-left: 5px;
    margin-right: 5px;
    list-style-type: none;
    float: right;
}

li {
    line-height: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    list-style: none;
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    transition: all 0.7s ease-in-out 0.7s;
}

 li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
}

/* section main*/

#main {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 200px;
}

.mache {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
}

h1 {
    margin-top: 80px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1.15px;
    text-transform: uppercase;
    line-height: 24px;
    padding-bottom: 30px;
}

h1::after {
    content:"";
    position: absolute;
    width: 200px;
    top: 300px;
    left: 0;
    right:0;
    margin:auto;
    border: 1px solid #ed145b;
    display: block;
}

#main p {
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    height: 59px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.55px;
    padding-bottom: 100px;
}

button span {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    width: 97px;
    height: 12px;
}

#main button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border-color:#ed145b;
    background-color: #ed145b;
}

font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
/* section about*/

#about {
    background-image: url(../img/Prostok%C4%85t_1_kopia.png);
    background-size: 1000 1000;
    background-repeat: no-repeat;
    max-width: 600;
    height: auto;
}
.text {
    position: relative;
}
.text h3 {
    width: 400px;
    height: 85px;
    color: #5a5a5a;
    font-family: 'Lato - Light Italic';
    font-size: 38px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.95px;
    left:0;
    right:0;
    margin: auto;
    padding-top: 150px;
}

.text h3::after {
    content:"";
    position: absolute;
    width: 200px;
    top: 300px;
    left: -200px;
    right:0;
    margin:auto;
    border: 1px solid #ed145b;
    display: block;
}

.text p {
    position: absolute;
    top: 300px;
    width: 475px;
    height: 165px;
    right: 0;
    left: 70px;
    margin: auto;
    color: #5a5a5a;
    font-family: Lato;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.38px;
    padding-top: 50px;
}
.text a {
    position: absolute;
    text-decoration: none;
    display: block;
    color: #000000;
    right: 0;
    left: -200px;
    margin: auto;
    top: 500px;
    width: 211px;
    height: 12px;
    color: #ed145b;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    padding-top: 20px;
}

.images {
    position: relative;

}
.mac {
    width: 650px;
    height: 483px;
    top: 70px;
    left: 0;
    right: 0;
    position: absolute;
}
.shadow {
    width:600px;
}
